<div class="row">

  <!-- Cadastro -->
  <div class="col-xl-3 col-md-6 mb-4">

    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">

          <div class="col mr-2 text-center ">
            <a routerLink="/students/new">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
              </div>

              <h4 class="text-primary mt-3">Novo Estudante</h4>
            </a>
          </div>

          <!-- <div class="col-auto">
            <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
          </div>
         -->

        </div>
      </div>
    </div>
  </div>

  <!-- Filtro -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2 text-center">
            <a routerLink="/students/list">
              <div class="text-xs font-weight-bold text-black-50 text-uppercase mb-1">
                <i class="fas fa-filter fa-2x text-gray-300"></i>
              </div>
              <h4 class="text-primary mt-3">Estudantes</h4>
            </a>
          </div>

          <!-- <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div> -->

        </div>
      </div>
    </div>
  </div>

  <!-- Notas -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2 text-center">
            <a routerLink="/students/list">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
              </div>
              <h4 class="text-primary mt-3">Notas</h4>
            </a>
          </div>

          <!-- <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div> -->

        </div>
      </div>
    </div>
  </div>

  <!-- Notas -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2 text-center">
            <a routerLink="/students/list">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                <i class="fab fa-accusoft fa-2x text-gray-300"></i>

              </div>
              <h4 class="text-primary mt-3">Cursos / Disciplinas</h4>
            </a>
          </div>

          <!-- <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div> -->

        </div>
      </div>
    </div>
  </div>

</div>