<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>M</b>S</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">
        <b>Maia</b> School
      </span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">

      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">


          <!-- Usuario Logado -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- Imagem da navbar-->
              <img src="./../../../assets/img/user.png" class="img-circle" alt="User Image"
                style="width: 20px !important; height: 18px !important;">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">Dowglas Maia</span>
            </a>

            <ul class="dropdown-menu">
              <!-- Imagem do menu -->
              <li class="user-header">
                <img src="./../../../assets/img/user.png" class="img-circle" alt="User Image">

                <p>
                  Dowglas Maia - Web Developer
                  <small>Membro desde | 2019</small>
                </p>
              </li>

              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Perfil</a>
                </div>

              </li>

            </ul>
          </li> <!-- / Fim usuario-->

          <!--  -->
          <li>
            <a href="#" data-toggle="control-sidebar">
              <i class="fa fa-sign-out" aria-hidden="true"></i>Sair
            </a>
          </li>

        </ul>

      </div>
    </nav>
  </header>

  <!-- Coluna Esquerda do sidebar -  com Menu de Navegação -->
  <aside class="main-sidebar">
    <section class="sidebar">

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header" style="text-align: center !important; padding: 15px 0 !important">MENU</li>

        <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> <span>Home</span></a></li>
        <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> <span>Another Link</span></a></li>

        <li class="treeview">
          <a href="#"><i class="fa fa-plus"></i> <span>Register</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#"><i class="fa fa-plus"></i> <span>Register</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#"><i class="fa fa-plus"></i> <span>Register</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#">Link in level 2</a></li>
            <li><a href="#">Link in level 2</a></li>
          </ul>
        </li>

      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content container-fluid">

      <!--------------------------
          | Conteúdo das Paginas |
      --------------------------->
      Conteúdo
    </section>
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- right -->
    <div class="pull-right hidden-xs">
      Desenvolvimento: <strong>Dowglas Maia</strong>
    </div>
    <!-- left -->
    <strong>&copy; 2019 <a href="#">Site</a> | </strong> Todos os direitos reservados.
  </footer>

</div>
<!-- ./wrapper -->