<!-- breadcrumb -->
<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/students">Estudantes</a></li>
    <li class="breadcrumb-item active">Cadastro de Estudantes</li>
  </ol>
</nav>

<!-- Card -->
<div class="card">
  <h5 class="card-header">
    <i class="fas fa-graduation-cap"></i>
    Cadastro de Estudantes

    <span class="float-right">
      <a routerLink="/students">
        <i class="fas fa-door-open" data-toggle="tooltip" data-placement="top" title="Home Estudantes"></i>
      </a>
    </span>
  </h5>

  <div class="card-body">
    <!-- Form-->
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
      <div class="row col-3 float-right shadow-lg mb-1 bg-whites rounded">

        <figure class="figure">
          <img src="./../../../../../assets/img/aluno.png" class="figure-img img-fluid rounded-circle" alt="...">
          <!-- <figcaption class="figure-caption"></figcaption> -->
        </figure>
      </div>

      <div class="row col-12 col-md-9 float-left">

        <div class="form-row col-12">
          <!-- Serie-->
          <div class="form-group col-md-6">
            <label for="grades">Série e Classe</label>
            <select id="grades" class="form-control" formControlName="schoolGrade">
              <option selected>Selecione...</option>
              <option id="grades" *ngFor="let item of schoolGrades">{{item.grade}} </option>

            </select>
          </div>

          <!-- Turno
          <div class="form-group col-md-6">
            <label for="schoolLevel">Turno</label>
            <select id="schoolLevel" class="form-control">
              <option selected [value]="">Selecione...</option>
              <option id="schoolTm" *ngFor="let option of schoolTimes" [value]="option.value">{{option.description}}
              </option>
            </select>
          </div>
        -->

        </div>

        <!-- <div class="form-row col-12 ">
         
          <div class="form-group col-md-6">
            <label for="schoolLevel">Escolaridade</label>
            <select id="schoolLevel" class="form-control">
             
              <option selected [value]="">Selecione...</option>
              <option id="levelEd" *ngFor="let option of levelEducations" [value]="option.value">{{option.description}}
              </option>
            </select>
          </div>

         
          <div class="form-group col-md-6">
            <label for="schoolLevel">Bimestre</label>
            <select id="schoolLevel" class="form-control">
              <option selected>Primeiro Bimestre</option>
              <option>Segundo Bimestre</option>
              <option>Terceiro Bimestre</option>
              <option>Quarto Bimestre</option>
            </select>
          </div>
        </div> -->

        <div class="form-row col-12">
          <!-- Nome-->
          <div class="form-group col-8">
            <label for="name">Nome</label>
            <input type="text" formControlName="name" class="form-control" id="name" required="true">
          </div>

          <!-- Genero-->
          <div class="form-group col-4">
              <label for="schoolLevel">Genero</label>
              <select id="schoolLevel" class="form-control" formControlName="genero">
                <option selected>Selecione...</option>
                <option>Masculino</option>
                <option>Feminino</option>
                <option>Outros</option>
              </select>
            </div>
        </div>

        <div class="form-row col-12">
          <!-- E-mail-->
          <div class="form-group col-md-8">
            <label for="email">e-Mail</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder=""
              required="true">
          </div>

          <!-- Telefone -->
          <div class="form-group col-md-4">
            <label for="fone">Telefone</label>
            <input type="text" formControlName="telephone" class="form-control" id="fone" mask='(000) 0 0000-0000'
              required="true">
          </div>
        </div>

      </div>

      <div class="form-row col-12">
        <!-- CPF-->
        <div class="form-group col-md-3">
          <label for="cpf">CPF</label>
          <input type="text" formControlName="cpf" class="form-control" id="cpf" required="true"
            mask='000.000.000-00'>
        </div>

        <!-- RG-->
        <div class="form-group col-md-3">
          <label for="rg">RG</label>
          <input type="text" formControlName="schoolGrade" class="form-control" id="rg" mask='00000000000000'>
        </div>

        <!-- Data de nascimento-->
        <div class="form-group col-md-4">
          <label for="dateOfBirth">Data de Nascimento</label>
          <input type="date" formControlName="dateOfBirth" class="form-control" id="dateOfBirth" pattern="dd/MM/yyyy">
        </div>

      </div>


      <div class="form-row col-12">
        <!-- Respondavel-->
        <div class="form-group col-md-6">
          <label for="responsible">Responsável</label>
          <input type="text" formControlName="responsible" class="form-control" id="responsible">
        </div>

        <!--CPF Respondavel-->
        <div class="form-group col-md-4">
          <label for="cpf-responsible">CPF do Responsável</label>
          <input type="text" formControlName="cpfResponsible" class="form-control" id="cpf-responsible"
            mask='000.000.000-00'>
        </div>
      </div>

      <div class="form-row col-12">
        <!-- Estado - UF-->
        <div class="form-group col-md-2">
          <label for="district">UF</label>
          <select id="district" class="form-control">
            <option selected>Selecione...</option>
            <option *ngFor="let item of ufs">{{item.name}}</option>
          </select>
        </div>
        <!--Cidade-->
        <div class="form-group col-md-3">
          <label for="city">Cidade</label>
          <select id="city" class="form-control" formControlName="city">
            <option selected>Selecione...</option>
            <option *ngFor="let item of citeis">{{item.name}}</option>
          </select>
        </div>

        <!-- logradouro-->
        <div class="form-group col-md-5">
          <label for="logradouro">Logradouro</label>
          <input type="text" formControlName="street" class="form-control" id="logradouro">
        </div>

        <!-- numero-->
        <div class="form-group col-md-2">
          <label for="numero">Número</label>
          <input type="text" formControlName="number" class="form-control" id="numero" placeholder="">
        </div>

      </div>

      <div class="form-row col-12">
        <!-- CEP-->
        <div class="form-group col-md-2">
          <label for="cep">CEP</label>
          <input type="text" formControlName="postalCode" class="form-control" id="cep" placeholder=""
            mask="00.000-000">
        </div>
        <!-- setor / bairro-->
        <div class="form-group col-md-5">
          <label for="bairro">Bairro</label>
          <input type="text" formControlName="district" class="form-control" id="bairro" placeholder="">
        </div>
        <!-- complemento-->
        <div class="form-group col-md-5">
          <label for="complemento">Complemento</label>
          <input type="text" formControlName="complement" class="form-control" id="complemento" placeholder="">
        </div>
      </div>

      <div class="form-row col-12">
        <!-- referencia-->
        <div class="form-group col-md-7">
          <label for="ref">Ponto de Referência</label>
          <input type="text" formControlName="pointOfReference" class="form-control" id="ref" placeholder="">
        </div>

      </div>

      <div class="form-row card-footer col-12">
        <button type="submit" class="btn btn-primary mr-2">
          <i class="far fa-save mr-2"></i>Salvar
        </button>
        
        <button type="button" class="btn btn-warning mr-2">
          <i class="fas fa-list mr-2"></i>Listar
        </button>
      </div>


    </form>
    <!--/end form-->

  </div>

</div>