
  <!-- Coluna Esquerda do sidebar -  com Menu de Navegação -->
  <aside class="main-sidebar">
      <section class="sidebar">
  
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header" style="text-align: center !important; padding: 15px 0 !important">MENU</li>
  
          <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i> <span>Home</span></a></li>
          <li><a href="#"><i class="fa fa-database" aria-hidden="true"></i> <span>Another Link</span></a></li>
  
          <li class="treeview">
            <a href="#"><i class="fa fa-plus"></i> <span>Register</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="#">Link in level 2</a></li>
              <li><a href="#">Link in level 2</a></li>
            </ul>
          </li>
  
          <li class="treeview">
            <a href="#"><i class="fa fa-plus"></i> <span>Register</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="#">Link in level 2</a></li>
              <li><a href="#">Link in level 2</a></li>
            </ul>
          </li>
  
          <li class="treeview">
            <a href="#"><i class="fa fa-plus"></i> <span>Register</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li><a href="#">Link in level 2</a></li>
              <li><a href="#">Link in level 2</a></li>
            </ul>
          </li>
  
        </ul>
        <!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
    </aside>
  